<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.professorperson.lukesmindmobile">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.back"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LukesMindMobile">
        <activity
            android:name=".views.ScannerActivity"
            android:exported="false" />
        <activity
            android:name=".views.TaskActivity"
            android:exported="false" />
        <activity
            android:name=".views.YoutubeVideos"
            android:exported="false"
            android:label="@string/title_activity_youtube_videos"
            android:theme="@style/Theme.LukesMindMobile.NoActionBar" />
        <activity
            android:name=".views.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.CameraActivity"
            android:exported="true" />

        <activity
            android:name=".views.ScannerActivity"
            android:exported="true" />

        <service
            android:name=".services.FlashService"
            android:exported="false" />
    </application>

</manifest>